{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 class="btn btn-danger">hii</h1>
        <div class="carousel slide">
            <div class="carousel inner">
                <div>
                    <img src="{% static 'images/v2.jpg %}">
                </div>
                
                
            </div>

        </div>
    </center>
    d
    



    <script>src="{% static 'js/jquery.js' %}"</script>
    <script>src="{% static 'js/popper.js' %}"</script>
    <script>src="{% static 'js/bootstrap.js' %}"</script>
    <script>src="{% static 'js/mdb.js' %}"</script>
</body>
</body>

</body>
</body>
</html>